@import "variable";

.welcome {
  height: 100vh;
  background: url("../images/bg-top.jpg") 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container {
    max-width: 1564px;
  }

  .welcome-text {
    color: $blue-color;
    text-align: center;

    h2 {
      font-size: 96px;
      font-family: $font-special;
    }

    h3 {
      font-size: 16px;
      font-family: $font-main;
      text-transform: uppercase;
      margin: 46px 0;
      letter-spacing: 5px;
    }

    button {
      height: 51px;
      width: 187px;
      border: none;
      border-radius: 30px;
      background-color: #fff;
      color: $blue-color;
      cursor: pointer;
    }
  }

  .search {
    height: 153px;
    background-color: $blue-color;
    display: flex;
    align-items: center;

    form {
      display: flex;
      justify-content: space-between;
    }

    .inputs {
      display: flex;
      align-items: center;
      padding-left: 0;

      li {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
      }

      input {
        background-color: $blue-color;
        border: none;
        border-bottom: 1px solid $bright-blue-color;
        width: 120px;
        color: #fff;
        font-size: 12px;

        &:first-child {
          width: 160px;
        }
      }

      label {
        color: #fff;
        margin-bottom: 4px;
        padding-left: 20px;
      }
    }

    button {
      background: url("../images/search.png") no-repeat;
      height: 130px;
      width: 130px;
      border: none;
      cursor: pointer;
    }
  }
}

.sprite {
  background: url(../images/inputs.png) no-repeat;
  display: block;
}

.sprite-adults {
  width: 17px;
  height: 18px;
  background-position: -4px -4px;
}

.sprite-check-in {
  width: 18px;
  height: 18px;
  background-position: -29px -4px;
}

.sprite-check-out {
  width: 18px;
  height: 18px;
  background-position: -55px -4px;
}

.sprite-children {
  width: 15px;
  height: 18px;
  background-position: -81px -4px;
}

.sprite-city {
  width: 13px;
  height: 18px;
  background-position: -104px -4px;
}

.sprite-rooms {
  width: 18px;
  height: 18px;
  background-position: -125px -4px;
}

.sprite-stars {
  width: 18px;
  height: 18px;
  background-position: -151px -4px;
}

.main-nav {
  float: right;

  li {
    display: inline-block;
    padding: 14px 19px;
    transition: 0.2s ease-out;
  }

  a {
    color: $dark-gray-color;
    text-decoration: none;
    font-size: 16px;
    font-family: $font-main;

    &:hover {
      color: $blue-color;

    }
  }

  .main-btn {
    height: 51px;
    width: 187px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(13, 207, 255, 0.25);
    color: $blue-color;
    cursor: pointer;
  }
}

.main-header {
  padding: 40px 0;
  overflow: hidden;

  .logo {
    float: left;
    transform: translateY(35%);
  }
}

.popup-wrap {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);


  .popup {
    position: absolute;
    top: 20%;
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 20px;
      width: 20px;
    }
  }
}