@font-face {
  font-family: "MolleRegular";
  src: url('../fonts/Molle-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoRegularar";
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoBold";
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoThin";
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}