$font-special: "MolleRegular", sans-serif;
$font-main: "RobotoRegularar", sans-serif;
$font-bold: "RobotoBold", sans-serif;

$yellow-color: #ffce23;
$blue-color: #017dfb;
$bright-blue-color: #0dcfff;
$gray-color: #bdbdbd;
